<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.iu.main.board.notice.NoticeDAO">
  	
  	<!-- SQL 조각 -->
	<sql id="searchSQL">
		WHERE NOTICENUM > 0
		AND
		<!--
			AND #{kind} LIKE '%' || #{keyword} || '%'  →  오류
			Database에서 사용되는 예약어(컬럼명, 테이블명 등)는 #{...}으로 대체할 수 없다.
			그러므로 아래와 같이 동적 쿼리를 사용해야 한다.
		-->
		<choose>
			<when test="kind == 'name'"> <!-- #{kind} 오류  →  #{ } 생략 -->
				NAME LIKE '%' || #{keyword} || '%' <!-- '%#{keyword}%'  →  오류 : '%서동휘%'이 아닌 '%'서동휘'%'으로 인식됨 -->
			</when>
			<when test="kind == 'contents'">
				CONTENTS LIKE '%' || #{keyword} || '%'
			</when>
			<when test="kind == 'subject'">
					SUBJECT LIKE '%'|| #{keyword} ||'%'	
			</when>
			<otherwise>
				NOTICENUM IS NOT NULL	
			</otherwise>
		<!-- 
			<otherwise>
					bookContents LIKE '%' || #{keyword} || '%'
		 	</otherwise>
		 -->
		 	
		<!-- 
			<if test="kind == 'name'">
				AND booName LIKE '%#{keyword}%'
			</if>
			<if test="kind == 'contents'">
				AND bookContents LIKE '%#{keyword}%'
			</if>
		-->
		</choose> 
		
	</sql>
  	
  	
  	<select id="getList" resultMap="getDetailResult" parameterType="Pager">
		SELECT  NOTICENUM,SUBJECT,NAME,CREATEDATE,HIT
		FROM
			(SELECT ROWNUM R ,N.* 
			   FROM
				(
					SELECT * FROM NOTICE
					<include refid="searchSQL" />
					ORDER BY NOTICENUM DESC 
				) N 
			) 
		WHERE R BETWEEN #{startRow} AND #{lastRow}
  	</select>
  	

  	
  	<select id="getDetail" resultMap="getDetailResult" parameterType="NoticeDTO">
		SELECT N.*,NF.*
		FROM NOTICE N
		LEFT OUTER JOIN NOTICEFILE NF 
		ON N.NOTICENUM = NF.NOTICENUM 
		WHERE N.NOTICENUM=#{num}
	
  	</select>
  	<resultMap type="NoticeDTO" id="getDetailResult">
  		<id column="NOTICENUM" property="num" />
  		<result column="SUBJECT" property="subject"/>
  		<result column="CONTENTS" property="contents"/>
  		<result column="NAME" property="name"/>
  		<result column="CREATEDATE" property="createDate"/>
  		<result column="HIT" property="hit"/>
  		<collection property="noticeFileDTOs" javaType="List" ofType="NoticeFileDTO">
  			<id column="FILENUM" property="fileNum"/>
  			<result column="FILENAME" property="fileName"/>
  			<result column="ORIGINALNAME" property="originalName"/>
  		</collection>
  		
  	</resultMap>
  	
  	<update id="setUpdate" parameterType="NoticeDTO">
		UPDATE NOTICE SET SUBJECT=#{subject}, CREATEDATE=#{createDate}, CONTENTS=#{contents} WHERE NOTICENUM=#{num}  	
  	</update>
  	
  	<delete id="setDelete" parameterType="NoticeDTO">
  		DELETE NOTICE WHERE NOTICENUM=#{num}
  	</delete>
  	
  	<update id="setHitCount" parameterType="NoticeDTO">
  		UPDATE NOTICE SET HIT=HIT+1 WHERE NOTICENUM=#{num}
  	</update>
  	
  	<select id="getTotal" resultType="Long">
  		SELECT COUNT(NOTICENUM) FROM NOTICE
  		<include refid="searchSQL" />
  	</select>
  	
	<insert id="setAdd" parameterType="NoticeDTO"> 
  		<selectKey keyProperty="num" resultType="Long" order="BEFORE">
  			SELECT NOTICE_SEQ.NEXTVAL FROM DUAL
  		</selectKey>
  		INSERT INTO NOTICE VALUES(#{num},#{subject},#{contents},#{name},SYSDATE,0)
  	</insert>
  	
	<insert id="setFileAdd" parameterType="NoticeFileDTO">
  		INSERT INTO NOTICEFILE VALUES(NOTICEFILE_SEQ.NEXTVAL,#{noticeNum},#{originalName},#{fileName})
  	</insert> 
  	
  	
  </mapper>