<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.iu.main.board.notice.NoticeDAO">
  	
  	<select id="getList" resultMap="getDetailResult">
		SELECT  NOTICENUM,SUBJECT,NAME,CREATEDATE,HIT
		FROM
			(SELECT ROWNUM R ,N.* 
			   FROM
				(
					SELECT * FROM NOTICE
					WHERE NOTICENUM > 0
					ORDER BY NOTICENUM DESC 
				) N 
			) 
		WHERE R BETWEEN #{startRow} AND #{lastRow}
  	</select>
  	

  	
  	<select id="getDetail" resultMap="getDetailResult" parameterType="NoticeDTO">
		SELECT N.*,NF.*
		FROM NOTICE N
		LEFT OUTER JOIN NOTICEFILE NF 
		ON N.NOTICENUM = NF.NOTICENUM 
		WHERE N.NOTICENUM=#{num}
	
  	</select>
  	<resultMap type="NoticeDTO" id="getDetailResult">
  		<id column="NOTICENUM" property="num" />
  		<result column="SUBJECT" property="subject"/>
  		<result column="CONTENTS" property="contents"/>
  		<result column="NAME" property="name"/>
  		<result column="CREATEDATE" property="createDate"/>
  		<result column="HIT" property="hit"/>
  		<collection property="noticeFileDTOs" javaType="List" ofType="NoticeFileDTO">
  			<id column="FILENUM" property="fileNum"/>
  			<result column="FILENAME" property="fileName"/>
  			<result column="ORIGINALNAME" property="originalName"/>
  		</collection>
  		
  	</resultMap>
  	
  	<update id="setUpdate" parameterType="NoticeDTO">
		UPDATE NOTICE SET SUBJECT=#{subject}, CREATEDATE=#{createDate}, CONTENTS=#{contents} WHERE NOTICENUM=#{num}  	
  	</update>
  	
  	<delete id="setDelete" parameterType="NoticeDTO">
  		DELETE NOTICE WHERE NOTICENUM=#{num}
  	</delete>
  	
  	<update id="setHitCount" parameterType="NoticeDTO">
  		UPDATE NOTICE SET HIT=HIT+1 WHERE NOTICENUM=#{num}
  	</update>
  	
  	<select id="getTotal" resultType="Long">
  		SELECT COUNT(NOTICENUM) FROM NOTICE
  	</select>
  	
	<insert id="setAdd" parameterType="NoticeDTO"> 
  		<selectKey keyProperty="num" resultType="Long" order="BEFORE">
  			SELECT NOTICE_SEQ.NEXTVAL FROM DUAL
  		</selectKey>
  		INSERT INTO NOTICE VALUES(#{num},#{subject},#{contents},#{name},SYSDATE,0)
  	</insert>
  	
	<insert id="setFileAdd" parameterType="NoticeFileDTO">
  		INSERT INTO NOTICEFILE VALUES(NOTICEFILE_SEQ.NEXTVAL,#{noticeNum},#{originalName},#{fileName})
  	</insert> 
  	
  	
  </mapper>