<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.iu.main.qna.QnADAO">
  	
  	<sql id="searchSQL">
		WHERE QNANUM > 0
		AND
		<!--
			AND #{kind} LIKE '%' || #{keyword} || '%'  →  오류
			Database에서 사용되는 예약어(컬럼명, 테이블명 등)는 #{...}으로 대체할 수 없다.
			그러므로 아래와 같이 동적 쿼리를 사용해야 한다.
		-->
		<choose>
			<when test="kind == 'name'"> <!-- #{kind} 오류  →  #{ } 생략 -->
				NAME LIKE '%' || #{keyword} || '%' <!-- '%#{keyword}%'  →  오류 : '%서동휘%'이 아닌 '%'서동휘'%'으로 인식됨 -->
			</when>
			<when test="kind == 'contents'">
				CONTENTS LIKE '%' || #{keyword} || '%'
			</when>
			<otherwise>
				QNANUM IS NOT NULL	
			</otherwise>
		<!-- 
			<otherwise>
					bookContents LIKE '%' || #{keyword} || '%'
		 	</otherwise>
		 -->
		 	
		<!-- 
			<if test="kind == 'name'">
				AND booName LIKE '%#{keyword}%'
			</if>
			<if test="kind == 'contents'">
				AND bookContents LIKE '%#{keyword}%'
			</if>
		-->
		</choose> 
		
	</sql>
  	
  	<select id="getList" resultType="QnADTO">
		SELECT  *
		FROM
			(SELECT ROWNUM R ,N.* 
			   FROM
				(
					SELECT * FROM QNA
					<include refid="searchSQL" />
					ORDER BY QNANUM DESC 
				) N 
			) 
		WHERE R BETWEEN #{startRow} AND #{lastRow}
  	</select>
  	
  	
  	
	<select id="getTotal" resultType="Long">
	SELECT COUNT(QNANUM) FROM QNA
	<include refid="searchSQL" />
	</select>
  	
 
  	
  </mapper>