<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.iu.main.board.qna.QnADAO">
  	
  	<sql id="searchSQL">
		WHERE NUM > 0
		AND
		<!--
			AND #{kind} LIKE '%' || #{keyword} || '%'  →  오류
			Database에서 사용되는 예약어(컬럼명, 테이블명 등)는 #{...}으로 대체할 수 없다.
			그러므로 아래와 같이 동적 쿼리를 사용해야 한다.
		-->
		<choose>
			<when test="kind == 'name'"> <!-- #{kind} 오류  →  #{ } 생략 -->
				NAME LIKE '%' || #{keyword} || '%' <!-- '%#{keyword}%'  →  오류 : '%서동휘%'이 아닌 '%'서동휘'%'으로 인식됨 -->
			</when>
			<when test="kind == 'contents'">
				CONTENTS LIKE '%' || #{keyword} || '%'
			</when>
			<otherwise>
				NUM IS NOT NULL	
			</otherwise>
		<!-- 
			<otherwise>
					bookContents LIKE '%' || #{keyword} || '%'
		 	</otherwise>
		 -->
		 	
		<!-- 
			<if test="kind == 'name'">
				AND booName LIKE '%#{keyword}%'
			</if>
			<if test="kind == 'contents'">
				AND bookContents LIKE '%#{keyword}%'
			</if>
		-->
		</choose> 
		
	</sql>
  	
  	<select id="getList"  resultType="QnADTO" parameterType="com.iu.main.util.Pager">
		SELECT  *
		FROM
			(SELECT ROWNUM R ,N.* 
			   FROM
				(
					SELECT * FROM QNA
					<include refid="searchSQL" />
					ORDER BY REF DESC, STEP ASC 
				) N 
			) 
		WHERE R BETWEEN #{startRow} AND #{lastRow}
  	</select>
  	
  	
  	
	<select id="getTotal" resultType="Long">
	SELECT COUNT(NUM) FROM QNA
	<include refid="searchSQL" />
	</select>
  	
  	<insert id="setAdd" parameterType="QnADTO">
  		<selectKey keyProperty="num" resultType="Long" order="BEFORE">
  		SELECT QNA_SEQ.NEXTVAL FROM DUAL
  		</selectKey>
  		INSERT INTO QNA VALUES(#{num},#{name},#{subject},#{contents},SYSDATE,0,#{num},0,0)
  	</insert>
 
 	<insert id="setFileAdd" parameterType="QnAFileDTO">
  		INSERT INTO QNAFILE VALUES(QNAFILE_SEQ.NEXTVAL,#{qnaNum},#{originalName},#{fileName})
  	</insert> 
  	
  	<select id="getDetail" resultMap="getDetailResult" parameterType="QnADTO">
		SELECT Q.*,QF.*
		FROM QNA Q
		LEFT OUTER JOIN QNAFILE QF 
		ON Q.NUM = QF.QNANUM 
		WHERE Q.NUM=#{num}
	
  	</select>
  	<resultMap type="QnADTO" id="getDetailResult">
  		<id column="NUM" property="num" />
  		<result column="SUBJECT" property="subject"/>
  		<result column="CONTENTS" property="contents"/>
  		<result column="NAME" property="name"/>
  		<result column="CREATEDATE" property="createDate"/>
  		<result column="HIT" property="hit"/>
<!--   		<result column="REF" property="ref"/>
  		<result column="STEP" property="step"/>
  		<result column="DEPTH" property="depth"/> -->
		<collection property="qnAFileDTOs" javaType="List" ofType="QnAFileDTO">
  			<id column="FILENUM" property="fileNum"/>
  			<result column="FILENAME" property="fileName"/>
  			<result column="ORIGINALNAME" property="originalName"/>
  		</collection> 
  		
  	</resultMap>
  	
  	<update id="setStepUpdate" parameterType="QnADTO">
		UPDATE QNA SET STEP=STEP+1 
		WHERE REF=#{ref} and STEP > #{step}	
  	</update>
  	
  	<insert id="setReplyAdd" parameterType="QnADTO">
  		<selectKey keyProperty="num" resultType="Long" order="BEFORE">
  		SELECT QNA_SEQ.NEXTVAL FROM DUAL
  		</selectKey>
  		INSERT INTO QNA 
  		(NUM,NAME,SUBJECT,CONTENTS,CREATEDATE,HIT,REF,STEP,DEPTH)
  		VALUES
  		(#{num},#{name},#{subject},#{contents},SYSDATE,0,#{ref},#{step},#{depth})
  	</insert>
  	
  	<update id="setUpdate" parameterType="QnADTO">
		UPDATE QNA SET SUBJECT=#{subject}, CREATEDATE=#{createDate}, CONTENTS=#{contents} WHERE NUM=#{num}  	
  	</update>
  	
  	<delete id="setDelete" parameterType="QnADTO">
  		DELETE QNA WHERE NUM=#{num}
  	</delete>
  </mapper>