<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.iu.main.student.StudentDAO">
  	
  	<select id="getList" resultType="com.iu.main.student.StudentDTO">
  		SELECT * FROM STUDENT
  	</select>
  	
  		<select id="getDetail" resultType="com.iu.main.student.StudentDTO" parameterType="com.iu.main.student.StudentDTO">
		SELECT * FROM STUDENT WHERE STUDNUM=#{studNum}  	
  	</select>
  	<insert id="setAdd" parameterType="com.iu.main.student.StudentDTO">
  		INSERT INTO STUDENT VALUES (BANK_SEQ.NEXTVAL,#{name},#{korean},#{english},#{math},#{total},#{average})
  	</insert>
  	<update id="setUpdate" parameterType="com.iu.main.student.StudentDTO">
  		UPDATE STUDENT SET NAME=#{name}, KOREAN=#{korean}, ENGLISH=#{english}, MATH=#{math},TOTAL=#{total},AVERAGE=#{average} WHERE STUDNUM=#{studNum} 
  	</update>
  	<delete id="setDelete" parameterType="com.iu.main.student.StudentDTO">
  		DELETE STUDENT WHERE STUDNUM=#{studNum}
  	</delete>
  	
  </mapper>